@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }
  body {
    @apply bg-stone-50 text-stone-900 antialiased;
    font-family: theme('fontFamily.sans');
    font-feature-settings: 'cv11', 'ss01';
  }
  html[dir='rtl'] body {
    font-family: theme('fontFamily.urdu');
  }
}
